<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://cutewallpaper.org/24/image-placeholder-png/croppedplaceholderpng-%E2%80%93-osa-grappling.png" 
            alt="Imagem"
            />
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a Nova versão do angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
             <a href="#"> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Mauris ullamcorper nisl at auctor ullamcorper. Donec tempus eget eros id tempor. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames.
            </a>
        </p>
    </div>
</div>
