<!-- HOME -->
<div class="teste-title">
    <app-menu-title></app-menu-title>
</div>

<div class="container__articles">
    <!-- Artigo Principal -->
    <div class="articles__main">
        <app-big-card 
            id = "1"
            photoCover="{{photoCard}}" 
            cardTitle="{{cardTitle}}" 
            cardDescription="{{cardDescription}}">
        </app-big-card>
    </div>
    
    <!-- Artigos laterais -->
    <div class="articles__others">
        <app-small-card *ngFor="let lista  of list"
            id = "{{lista.id}}"
            photoCover="{{lista.photo}}" 
            cardTitle="{{lista.title}}">
        </app-small-card>
        
    </div>
</div>

