<!-- HOME -->

<header>
    <app-menu-bar></app-menu-bar>
</header>

<div class="teste-title">
    <app-menu-title></app-menu-title>
</div>

<div class="container__articles">
    <!-- Artigo Principal -->
    <div class="articles__main">
        <app-big-card 
            photoCover="https://cutewallpaper.org/24/image-placeholder-png/croppedplaceholderpng-%E2%80%93-osa-grappling.png" 
            cardTitle="Em construção" 
            cardDescription="Em construção">
        </app-big-card>
    </div>
    <!-- Artigos laterais -->
    <div class="articles__others">
        <app-small-card 
            photoCover="https://cutewallpaper.org/24/image-placeholder-png/croppedplaceholderpng-%E2%80%93-osa-grappling.png" 
            cardTitle="Aguardando...">
        </app-small-card>
        <app-small-card 
            photoCover="https://cutewallpaper.org/24/image-placeholder-png/croppedplaceholderpng-%E2%80%93-osa-grappling.png" 
            cardTitle="Aguardando...">
        </app-small-card>
        <app-small-card 
            photoCover="https://cutewallpaper.org/24/image-placeholder-png/croppedplaceholderpng-%E2%80%93-osa-grappling.png" 
            cardTitle="Aguardando...">
        </app-small-card>
        
    </div>
</div>

