/* You can add global styles to this file, and also import other style files */

/* Reset browsers */

*{
    box-sizing: border-box;
    background-color: #000;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}

a{
    text-decoration: none;
} 

li{
    list-style: none;
}